
.home {
  width: 1000px;
  margin: 0 auto;

  .content-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .funBusImage{
      margin: 0 auto;
      
    }
    .welcomeFunBus{
      border-bottom:2px dashed @navigation-border;
      font-size: 1rem;
      padding-bottom: 10px;
      
      h1{
        margin: 10px 0px 10px 0px;
      }
    }
    
    .text-content {
      width: 48%;
      padding-right: 1%;
      margin-top: 30px;
    }

    .img-content {
      width: 48%;
      padding-left: 1%;
      margin-top: 30px;

      img {
        border-radius: 10px;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 30px auto 30px;

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    .destination {
      width: 30%;
      margin-bottom: 30px;

      .btn{
        .buttonStyling(#009999, white, 15px);
      }

    }
  }
}// home