// Mixins in here
.displayFlexRow(){
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.buttonStyling(@bg-color, @ft-color, @b-radius){
    background-color: @bg-color;
    color: @ft-color;
    border-radius: @b-radius;
    padding: 7.5% 8% 15% 8%;
    height: 25px;
    text-align: center;
    font-size: 2rem;
    vertical-align: middle;
    width: 100%;
}