// Navigation Styles here
.headerContent{
    .displayFlexRow();
    width: 55%;
    margin: 0 auto;
    margin-top: 35px;
    border-bottom: 2px dashed @navigation-border;
    h1{
        font-size: 3rem;
        margin-left: 15%;
        margin-bottom: 3%;
        width:30%;
        font-weight: bold;
    }
    nav{
        font-size: 1.5rem;
        margin-right: 10%;
        margin-bottom: 3%;
        width: 30%;
        align-items: center;
        a{
            text-decoration: none;
            font-weight: bold;
            color: black;
            margin-left: 3%;
        }
    }
    
}